.adminContainer {
    display: flex;
}

.sideNavContainer {
    width: 250px;
    position: fixed;
    top: 100px;
    /*left: 20px;*/
    height: calc(100vh - 48px); /* Adjust the height as needed */
    overflow-y: auto;
    z-index: 20;
}

.mainViewContainer {
    flex: 1;
    position: relative;
    overflow-y: auto;
    left: 250px;
}
