.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2px;
    border: 5px solid black;
    width: 500px;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    border-radius: 15px;
    overflow: hidden;
    max-height: 100vh; /* Ensure it doesn't cause overflow */
    align-items: center;

}

.wrapper::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, salmon, cyan, salmon, cyan);
    transition: 0.5s;
    border-radius: 15px;
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 3s linear infinite;

}

.wrapper::after {
    content: "";
    position: absolute;
    inset: 5px;
    top: -50%;
    left: -50%;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, cyan, salmon, cyan, salmon);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 3s linear infinite;
    animation-delay: -1.5s;

}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.formParent {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    border-radius: 15px;
    padding: 5px;
    width: 100%;
    background: black;
    z-index: 5;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
}


