/* global.css */

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define global variables or custom properties */
:root {
    --textColor: white;
}

/* Apply global styles to body */
body {
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: var(--textColor);
}
