/* global.css */

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: transparent;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* Define global variables or custom properties */
:root {
    --textColor: white;
}

/* Apply global styles to body */
body {
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: var(--textColor);
    /*background-color: #3d5273;*/
    /*background-color: #000000 !important;*/
    background-color: #234457 !important;
    background-size: cover;
    background-repeat: no-repeat;

}
