.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../../../public/bg-6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 5px solid black;
    width: 450px;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    border-radius: 15px;
    overflow: hidden;
}

.wrapper::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, salmon, cyan, salmon, cyan);
    transition: 0.5s;
    border-radius: 15px;
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 3s linear infinite;

}

.wrapper::after {
    content: "";
    position: absolute;
    inset: 5px;
    top: -50%;
    left: -50%;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, cyan, salmon, cyan, salmon);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 3s linear infinite;
    animation-delay: -1.5s;

}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.formParent {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    background: black;
    z-index: 5;
}

.formParent form {
    padding: 10px;
}

.formParent h1 {
    font-size: 25px;
    text-align: center;
    color: white;
}

.formParent .inputBox {
    width: 100%;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.inputBox input {
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    outline: none;
    padding-left: 20px;
    font-size: 20px;
    color: white;
}

.inputBox input::placeholder {
    color: burlywood;
    font-size: 20px;
}

.icons {
    font-size: 25px;
    color: orange;
    position: absolute;
    right: 15px;
    border: none;
    outline: none;
    background: none;
}

.forgotPassword {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

.checkBox {
    display: flex;
    gap: 10px;
    align-items: center;
}

.checkBox h1 {
    font-size: 1.0em;
    color: mediumpurple;
}

.forgotPassword p {
    font-size: 1.0em;
    color: yellowgreen;
}

.submitButton {
    margin-top: 50px;
    width: 100%;
}

.submitButton button {
    width: 100%;
    height: 50px;
    font-size: 25px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #3263b3;
    color: white;
    cursor: pointer;
    transition: .5s;
}

.submitButton button:hover {
    background-color: #891f9c;
    color: green;
}

.register {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    padding: 20px;
    font-size: 0.9em;
    color: white;
}

.lbl {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-between;
    width: 100%;
}

.nextLink {
    color: red;
}

.register h5 {
    color: #3734eb
}

.inputError {
    color: red;
    font-size: 1.0em;
    padding: 2px;
}