.singnIn {
    background-image: url('../../../images/bg-6.jpg'); /* Update with your image file path */
    background-size: cover; /* Ensure the background covers the entire viewport */
    background-repeat: no-repeat; /* Prevent background image from repeating */
}